/* ===========================
   SIDEBAR
=========================== */

.sidebar{
    width:260px;
    height:100vh;
    background:#131b2d;
    position:fixed;
    top:0;
    left:0;
    border-right:1px solid #1f2937;
    display:flex;
    flex-direction:column;
    overflow:hidden;
}

/* ===========================
   COMPANY LOGO
=========================== */

.sidebar-logo{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:18px 15px 14px;
}

.sidebar-logo img{
    width:78px;
    height:auto;
    object-fit:contain;
    transition:all .35s ease;
    filter:drop-shadow(0 8px 15px rgba(0,0,0,.35));
}

.sidebar-logo img:hover{
    transform:scale(1.08);
}

.sidebar-logo h2{
    margin-top:10px;
    margin-bottom:0;

    font-size:24px;
    font-weight:800;
    letter-spacing:1.5px;

    background:linear-gradient(
        90deg,
        #ff4d4d,
        #ffffff
    );

    background-clip:text;
color:transparent;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.sidebar-logo p{
    margin-top:4px;
    color:#94a3b8;
    font-size:12px;
    letter-spacing:.8px;
    font-weight:500;
}

.sidebar-divider{
    width:150px;
    height:1px;
    background:rgba(255,255,255,.08);
    margin:14px auto 12px;
}

/* ===========================
   NAVIGATION
=========================== */

.sidebar nav{
    display:flex;
    flex-direction:column;
    width:100%;
}

/* ===========================
   MENU
=========================== */

.menu{
    display:flex;
    align-items:center;
    gap:16px;

    width:100%;

    padding:18px 28px;

    text-decoration:none;

    color:#ffffff;

    font-size:17px;
    font-weight:500;

    transition:all .3s ease;

    box-sizing:border-box;
}

.menu-icon{
    width:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
}

.menu span:last-child{
    flex:1;
}

.menu:hover{
    background:#1f2937;
    color:#60a5fa;
}

.menu:hover .menu-icon{
    transform:scale(1.1);
}

.menu.active{
    background:#1f2937;
    color:#60a5fa;
    border-left:4px solid #3b82f6;
}

.menu.active .menu-icon{
    transform:scale(1.1);
}

/* ===========================
   SCROLLBAR
=========================== */

.sidebar::-webkit-scrollbar{
    width:5px;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#3b82f6;
    border-radius:20px;
}

/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:900px){

.sidebar{
    width:220px;
}

.sidebar-logo{
    padding:14px 15px 10px;
}

.sidebar-logo img{
    width:72px;
}

.sidebar-logo h2{
    font-size:22px;
    margin-top:8px;
    letter-spacing:1px;
}

.sidebar-logo p{
    font-size:11px;
}

.sidebar-divider{
    width:140px;
    margin:12px auto 8px;
}

.menu{
    padding:16px 22px;
    font-size:16px;
}

.menu-icon{
    font-size:20px;
}

}