.recent-box{

margin-top:40px;
background:#1e293b;
padding:25px;
border-radius:20px;
color:white;

}


.recent-box h2{

margin-bottom:20px;

}



table{

width:100%;
border-collapse:collapse;

}



th{

text-align:left;
color:#94a3b8;
padding:15px;

}



td{

padding:15px;
border-top:1px solid rgba(255,255,255,0.08);

}



span{

padding:6px 14px;
border-radius:20px;
font-size:13px;

}



.running{

background:#22c55e;
color:white;

}


.completed{

background:#3b82f6;
color:white;

}


.pending{

background:#eab308;
color:black;

}