.admins-header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;

}

.admins-header h1{

color:white;
font-size:34px;

}

.admins-header input{

width:300px;
padding:12px;
background:#1e293b;
border:none;
border-radius:10px;
color:white;

}

.admin-table{

width:100%;
border-collapse:collapse;
background:#1e293b;
border-radius:15px;
overflow:hidden;

}

.admin-table th{

background:#0f172a;
color:white;
padding:15px;

}

.admin-table td{

padding:15px;
color:#cbd5e1;
border-bottom:1px solid #334155;

}

.admin-table tr:hover{

background:#273449;

}
.activeBtn{
    background:#16a34a;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

.inactiveBtn{
    background:#dc2626;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

.deleteBtn{
    background:#ef4444;
    color:white;
    border:none;
    padding:8px 18px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.deleteBtn:hover{
    background:#dc2626;
}
.editBtn{
    background:#2563eb;
    color:#fff;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    cursor:pointer;
    margin-right:10px;
    transition:.3s;
}

.editBtn:hover{
    background:#1d4ed8;
}

.deleteBtn{
    background:#ef4444;
    color:#fff;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.deleteBtn:hover{
    background:#dc2626;
}